@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.heading-xl {
    font-size: 2.5rem;
}

.description {
    font-size: 0.95rem;
    font-weight: 400;
    font-variant: small-caps;
}