@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* desktop */
:root {
    --header-height: 3rem;

    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #fff;

    --font-family: "Poppins", sans-serif;

    --fs-big: 4rem;
    --fs-xxl: 2.25rem;
    --fs-xl: 1.5rem;
    --fs-lg: 1.25rem;
    --fs-md: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.813rem;

    --fw-medium: 500;
    --fw-semi-bold: 600;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;
    --space-6: 3rem;
}

/* mobile */
@media (max-width: 768px) {
    :root {
        --fs-big: 2.25rem;
        --fs-xxl: 1.5rem;
        --fs-xl: 1.25rem;
        --fs-lg: 1rem;
        --fs-md: 0.938rem;
        --fs-sm: 0.813rem;
        --fs-xs: 0.75rem;
    }
}

body,
html {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.section__subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--fw-medium);
    margin-bottom: var(--space-1);
}

.section__title {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-3);
}

/* menu */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--body-color);
}

.logo {
    color: var(--text-color);
    font-weight: var(--fw-semi-bold);
}

.nav__list {
    display: flex;
    column-gap: 2.5rem;
    list-style-type: none;
}

.nav__link {
    color: var(--text-color);
    font-weight: var(--fw-medium);
}

.nav__link--active {
    color: var(--first-color);
}

/* menu */

/* hero */
.hero {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 3rem);
}

.hero__content {
    flex-basis: 50%;
    align-self: center;
}

.hero__title {
    font-size: var(--fs-big);
    color: var(--first-color);
    margin-bottom: var(--space-1);
}

.hero__subtitle {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-4);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.hero__image {
    flex-basis: 50%;
}

/* hero */

/* about */
.about {
    display: flex;
    height: 100vh;
}

.about__image {
    flex-basis: 50%;
    align-self: center;
}

.about__image img {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.about__content {
    flex-basis: 50%;
    align-self: center;
}

.about__subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--fw-medium);
    margin-bottom: var(--space-1);
}

.about__title {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-3);
}

.about__description {
    margin-bottom: var(--space-3);
    color: var(--text-color-light);
}

/* about */

/* service */

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.service__content {
    display: flex;
    column-gap: var(--space-4);
}

.service__item i {
    font-size: var(--fs-big);
    color: var(--first-color);
}

.service__title {
    font-size: var(--fs-xxl);
    color: var(--title-color);
    margin-bottom: var(--space-1);
}

.service__description {
    padding: 0 1.5rem;
    color: var(--text-color-light);
}

/* /service */

/* menu */

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.menu__content {
    display: flex;
    justify-content: space-evenly;
}

.menu__item {
    text-align: left;
    width: 100%;
    max-width: 210px;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 15%);
    padding: var(--space-2);
    border-radius: 16px;
}

.menu__item h3 {
    font-weight: var(--fw-semi-bold);
    color: var(--title-color);
}

.menu__item span {
    margin-bottom: var(--space-1);
    font-size: var(--fs-sm);
    color: var(--text-color-light);
}

.menu__item a {
    float: right;
    color: var(--first-color);
    font-size: var(--fs-md);
    transition: 0.3s;
}

.menu__item a:hover {
    color: var(--text-color);
}

/* /menu */

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
}

.footer>div {
    flex-basis: 25%;
}

.footer__logo {
    font-size: var(--fs-xxl);
    color: var(--first-color);
    font-weight: var(--fw-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--fs-sm);
    margin: 0.25rem 0 var(--space-3);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--space-2);
}

.footer__title {
    font-size: var(--fs-xl);
    color: var(--title-color);
    margin-bottom: var(--space-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--space-1);
}

.footer__address {
    font-style: normal;
    color: var(--text-color);
}

/* /footer */

.copyright {
    text-align: center;
    color: var(--text-color-light);
    padding: var(--space-4);
}